.add_option_container{
  border:1px solid #ccc;
  width: 120px;
  height: 65px;
  background-color: #444444;
  margin: 10px auto;
  position: absolute;
  border-radius: 2px;
  top: 24px;
  left: -47px;
  z-index:20;
}

.pop_up_containner{
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: block;
  position: absolute;
  top:-10px;
  left: 50px;
}
.pop_up{
  border-bottom: 8px solid #404040;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  display: block;
  position: absolute;
  top: 2px;
  left: -8px;
}
.add_option_container a{
  font-family: arial;
  font-size: 14px;
  color: #ccc;
  text-align: center;
  display: block;
  padding: 7px 0px;
  border-bottom: #ccc 1px solid;
  text-decoration: none;
}
.add_option_container a:hover{
  background-color: #000;
  border-radius: 2px;
}
.add_option_container a.addtoqe{
  border:none;
}
/* ========= more option part css start========*/
.more_option_container{
  border:1px solid #ccc;
  width: 110px;
  height: 50px;
  background-color: #444444;
  margin: 10px auto;
  position: absolute;
  border-radius: 2px;
  top: 25px;
  left: -81px;
  z-index: 20;
}
    
.more_pop_up_containner{
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: block;
  position: absolute;
  top:-10px;
  right: 2px;
}
.more_pop_up{
  border-bottom: 8px solid #404040;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  display: block;
  position: absolute;
  top: 2px;
  left: -8px;
}
.more_option_container .m_s, .m_f{
  width: 30px;
  height: 30px;
  border:1px solid #fff;
  border-radius: 50%;
  float: left;
  margin: 5px 0px 0px 15px;
  opacity: .6; 
  background-position: 4px 5px;
  background-size: 23px;
}
.more_option_container .m_s:hover{
  opacity: 1;
}
.more_option_container .m_f {
  background-size: 18px;
  background-position: 5px 5px;
}
.more_option_container .m_f:hover {
  opacity: 1;
}

.m_f img{
  margin:5px 0px 0px 4px;
  width:20px;
  height:20px;
}
.m_s img{
  width:20px;
  height:20px;
  margin:6px 0px 0px 5px;
}
.favorite1{
  font-family: arial;
  font-size: 11px;
  color: #ccc;
  text-align: center;
  display: block;
  text-decoration: none;
  float: left;
  margin-top: 30px;
}
.figcaption{
  font-family: arial;
  font-size: 11px;
  color: #ccc;
  text-align: center;
  display: block;
  text-decoration: none;
  float: left;
  margin-top: 30px;
}

/* notificatio popup */
.n_box_wrapper{
  height: 60px;
  background: -webkit-linear-gradient(0deg,#ff0000, #ff6600);
  background: -o-linear-gradient(0deg,#ff0000, #ff6600);
  background: -moz-linear-gradient(0deg,#ff0000, #ff6600);
  float: left;
  position: fixed;
  bottom: 80px;
  left:81px;
  z-index: 999;
}
.n_box_icon{
  width: 40px;
  height: 40px;
  float: left;
  margin: 10px 5px 5px 10px;
}
.n_box_icon img{
  width: 40px;
  height: 40px;
}
.n_box_song_name{
  height: 20px; 
}
.n_box_song_name{
  float: left;
  font-size: 16px;
  color: #fff;
  overflow: hidden;
  margin: 21px 0px 0px 10px;
  font-family: arial;
}
.boxText {
  margin-right: 20px;
}

/* users popus */
.l_d_wrapper{
  width:151px;
  height: 60px;
  float: right;
  background-color: #000;
  position: relative;
  margin-right: 31px;
}
.l_d_users{
  width: 80px;
  height: 60px;
  float: left;
  border-right: 1px solid #444;
}
.l_d_users:hover{
  background-color: #444;
}
.l_d_icon_containner{
  width: 80px;
  height: 40px;
  float: left;
}
.l_d_icon_containner img{
  width:25px;
  height:25px;
  margin: 10px 0px 0px 25px;
}
.l_d_text_containner{
  width: 80px;
  height: 20px;
  float: left;
}
.l_d_text_containner p{
  text-align: center;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-transform: lowercase;
  opacity: .5;
}
.l_d_text_containner p:hover{
  opacity: 1;
}
.l_d_notification{
  width: 70px;
  height: 60px;
  float: left;
}
.l_d_notification:hover{
  background-color: #444;
}
.l_d_notification_containner{
  width: 70px;
  height: 40px;
  float: left;
}
.l_d_notification_containner img{
  width:25px;
  height:25px;
  margin: 10px 0px 0px 22px;
  opacity: .8;
}
.l_d_notification_text{
  width: 80px;
  height: 20px;
  float: left;
}
.l_d_notification_text p{
  text-align: center;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-transform: lowercase;
  opacity: .5;
}
.l_d_notification_text p:hover{
  opacity: 1;
}
/*slider part csss start */
.l_d_slider_wrapper{
  width: 160px;
  height: auto;
  background-color: #444;
  position: absolute;
  top:60px;
  right: 54px;
  float: left;
  list-style-type: none;
}
.my_home a{
  display: block;
  font-size: 14px;
  font-family: arial;
  text-decoration: none;
  color: #E5E4E4;
  padding:12px 0px;
  border-bottom: 1px dotted #6A6767;
}
.my_home a:hover{
  background-color: #222;
}
.my_home_icon{width: 20px;
  height: 20px;
  float: left;
  margin:-2px 10px 0px 15px;
}
.l_d_not_wrapper {
  width: 400px;
  height: auto;
  max-height: 300px;
  background-color: #444;
  position: absolute;
  top:60px;
  right: 30px;
  float: left;
  list-style-type: none;
}

.ldtext a {
  padding:12px 0px 10px 30px;
}
/*slider part csss end */
/*notification part css start */
.notification_content_wrapper{
  width: 300px;
  height: auto;
  background-color: #444;
  position: absolute;
  top:60px;
  right: 0px;
  float: left;
  display: none;
}
.notification_content_inner{
  width: 280px;
  height: auto;
  margin: 10px 10px;
  background-color: #333;
}
.notification_content_inner p{
  font-size: 12px;
  color: #bbb;
  padding: 8px;
}

/* create playlist */
.create_playlist_container{
    width: 350px;
    height: 450px;
    background-color:#444141;
    margin: 0 auto;
    position: fixed;
    float: left;
    margin-top:60px;
    margin-left:35%;
    top: 0;left: 0;
    z-index: 1;
}
.create_playlist_top_part{
    width: 100%;
    height:60px;
    background-color: #333;
}
.create_playlist_container h1{
  width: 280px;
  height: auto;
  font-size: 28px;
  color: #ccc;
  text-align: center;
  float: left;
  padding-top: 13px;
  font-family: "museo_sans300";
}
.create_playlist_cancel_button{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #000;
    float: right;
    margin: 10px;
}
.create_playlist_cancel_button img{
  width: 30px;
  height: 30px;
}
.create_playlist_content{
  width: 100%;
  height: 250px;
  background-color: #000;
  float: left;
  overflow: auto;
}
ul{
  list-style-type: none;
}
.user_playlist_name{
  width: 100%;
  height: 40px;
  border-top:1px dotted #706E6E;
  background-color: #222;
}
.user_playlist_name img{
  width: 20px;
  height: 20px;
  float: left;
  margin: 9px 10px 0px 15px;
}
.user_playlist_name a{
  font-size: 16px;
    color: #ccc;
    margin-top: 7px;
    display: block;
    text-decoration: none;
}
.create_playlist_footer{
  width: 100%;
  height:140px;
  float: left;
  background-color: #222;
}
.create_playlist_footer input[type=text]{
    width: 300px;
    height: 35px;
    margin-top: 20px;
    margin-left: 15px;
    background-color: #575454;
    border: 1px solid #ccc;
    color: #fff;
}
.create_playlist_footer input[placeholder]{
    padding-left: 10px;
    font-family: "museo_sans700";
    font-size: 15px;
}
.playlist_public{
    color: #fff;
    float: left;
    margin-top: 28px;
    margin-left: 5px;
    font-size: 16px;
    margin-right: 15px;
}
.create_playlist_footer input[type=checkbox]{
    margin-top: 30px;
    cursor: pointer;
    margin-left: 15px;
    width: 15px;
    height: 15px;
    background:#f00;
    float: left;
}
.create_playlist_footer input[type=submit]{
    width: 180px;
    height: 35px;
    margin-top: 20px;
    background-color: #f00;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    float: right;
    border-radius: 20px;
    margin-right: 25px;
    font-family: "museo_sans700";
}
.create_playlist_footer input[type=submit]:hover{
    background-color: #fd9a19;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0px !important;
}